ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

li {
    list-style: none;
    background-color: var(--button-base);
    padding: 8px 16px;
    border-radius: 4px;
}
