@inherits LayoutComponentBase

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/interactive-server">Interactive Server</a></li>
    </ul>
</nav>

<main>
    @Body
</main>
